@import "./base";

.Clock {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  font-size: 1.7vw;

  h1 {
    margin: 0px;
  }

  .clock {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 900px) {
  .Clock {
    h1 {
      font-size: 1.5em;
    }
  }
}
