@import "./base";

.Crew {
  // display: flex;
  // flex-direction: column;
}
.crew-wrapper {
  font: 100% $body-font;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  height: 70%;
  margin-bottom: 50px;
  margin-top: 50px;
  transition: all 0.3s ease-in;
  // transform: translateY(-10px);
  // margin-top: 2.5vw;
  .inactive {
    transition: all 0.3s ease-in;

    transform: translateY(-40px);
  }
}

.Bartender {
  width: 70%;
  align-self: center;
  img {
    width: 100%;
    height: auto;
  }
  .bartender-info {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1vw;
    margin-top: -10px;
    width: 100%;
    margin-left: -4px;

    span {
      text-transform: capitalize;
      align-self: center;
      margin-top: -10px;
      font-weight: bold;
    }
  }
}

@media only screen and (max-width: 600px) {
  .Bartender {
    .bartender-info {
      font-size: 3vw;
    }
  }
}
