@import "./base";

.readyNr {
  color: #f7b71e;
  margin-top: -15px;
}

.MostSoldBeer {
  div {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    align-self: center;
  }
  img.beer-tap-img {
    width: 120px;
    height: 150px;
    margin-top: 0px;
    justify-content: space-around;
    border: 5px solid transparent;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 8px #f7b71e;
    box-sizing: border-box;
  }
}

#mostSoldP {
  color: white;
  margin-top: -35px;
}
