@import ".//styles/base";
@import "./styles/crew";
@import "./styles/_mostSold";
@import "./styles/taps";
@import "./styles/clock";
@import "./styles/header";
@import "./styles/serving";

.App {
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr;
}

.Main {
  display: grid;
  grid-template-columns: 1.8fr 1fr 1fr 1fr 1.8fr;
  grid-template-rows: repeat (2, 40vh);
  column-gap: 25px;
  row-gap: 25px;

  background-color: $primary-color;
  height: 100%;
  padding: 0px 20px;
  margin-bottom: 15px;
}

.MostSoldBeer {
  @include gridItem(1, 2, 1, 2);
}

.Serving {
  @include gridItem(2, 5, 1, 2);
}

.Crew {
  @include gridItem(3, 5, 2, 3);
}

.Taps {
  @include gridItem(1, 3, 2, 3);
}

.Queue {
  @include gridItem(5, -1, 1, 3);
  overflow-y: scroll;
}

.panel {
  border-radius: 77px;
  h1 {
    font-weight: 300;
  }
  font: 100% $body-font;
}

.Order {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  font: 100% $font-stack;
  font-size: 2em;
  width: 100%;
  flex-wrap: nowrap;
  align-items: baseline;
}
.line-number {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
}
.order {
  .order-id {
    color: $highlight-color;
  }
  * {
    text-align: left;
    color: $highlight-color;
    margin: 0;
    align-self: center;
  }
}
.highlight {
  color: $highlight-color;
}
.beerimg {
  width: auto;
  height: 40px;
}
.order-details {
  text-align: left;
  margin-left: 10px;
}

.serving {
  margin-left: 10px;
  display: flex;
  color: black;
  flex-wrap: nowrap;
}

.QueueList {
  height: 100%;
  padding-top: 20px;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 900px) {
  .Main {
    display: grid;
    grid-template-columns: 1.8fr 1fr 1fr 1fr 1.8fr;
    grid-template-rows: repeat (2, 1fr);
    column-gap: 25px;
    row-gap: 25px;

    background-color: $primary-color;
    height: 100%;
    padding: 0px 20px;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .Main {
    display: grid;
    grid-template-columns: 1.8fr 1fr 1fr 1fr 1.8fr;
    grid-template-rows: repeat (4, 40vh);
    column-gap: 25px;
    row-gap: 25px;

    background-color: $primary-color;
    height: 100%;
    padding: 0px 20px;
    margin-bottom: 15px;
  }
  .Queue {
    @include gridItem(1, 2, 3, -1);
    overflow-y: scroll;
  }
  .MostSoldBeer {
    @include gridItem(1, 3, 1, 2);
  }
}
