@import "./base";
@mixin gridItem($columnStart, $columnEnd, $rowStart, $rowEnd, $color) {
  grid-column-start: $columnStart;
  grid-column-end: $columnEnd;

  grid-row-start: $rowStart;
  grid-row-end: $rowEnd;

  height: 100%;
  width: 100%;
  background-color: $color;
  border-radius: 20px;
}
// Fonts
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
$font-stack: "Satisfy", cursive;
// Colors

$header-background-color: #f0a26d;
$primary-color: #232121;
$secondery-color: #f5f0ea;
$third-color: #24262b;
$highlight-color: #e39c96;
$secondary-highlight-color: #f6c83f;
$body-primary-color: #394b45;
$body-secondary-color: white;

// fonts

.App {
  text-align: center;
  display: grid;
  grid-template-rows: 70px 1fr;
}
.Header {
  background-color: $header-background-color;
  width: 100%;
  color: $body-secondary-color;
}

.Main {
  display: grid;
  grid-template-columns: repeat(4, 22vw);
  grid-template-rows: repeat(2, 18vw);
  column-gap: 10px;
  row-gap: 15px;

  background-color: $primary-color;
  height: 100%;
  padding: 20px 50px;
}

.Clock {
  @include gridItem(1, 1, 1, 2, $secondery-color);
}

.ReadyList {
  @include gridItem(1, 1, 2, -1, $third-color);
}

.Serving {
  @include gridItem(2, 4, 1, 1, $secondery-color);
}

.Crew {
  @include gridItem(2, 3, 2, 2, $secondery-color);
}

.Taps {
  @include gridItem(3, 4, 2, 2, $secondery-color);
}

.Queue {
  @include gridItem(4, -1, 1, -1, $third-color);
}

.panel {
  h1 {
    color: $body-primary-color;
  }
  font: 100% $font-stack;
}

.Order {
  display: flex;
  padding: 10px;
  color: white;
  justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.highlight {
  color: $highlight-color;
}
.beerimg {
  width: auto;
  height: 40px;
}
.order-details {
  align-self: top;
}
